<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAVRec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AAVRec.Properties.Settings>
            <setting name="OutputLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraModel" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredCaptureDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="MonochromePixelsType" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value>AAV</value>
            </setting>
            <setting name="PreferredCompressorDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="IsIntegrating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlipVertically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlipHorizontally" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignatureDiffFactorEx2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UsesTunerCrossbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossbarInputPin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CrossbarOutputPin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoGraphDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinSignatureDiff" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="DisplayTimeInUT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulatorFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SimulatorFrameRate" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OcrDebugOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OcrCameraTestModeAvi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OcrSimulatorTestMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="SimulatorRunOCR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OcrMaxErrorsPerCameraTestRun" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OcrCameraTestModeAav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AavImageLayout" serializeAs="String">
                <value>CompressedRaw</value>
            </setting>
            <setting name="NTPServer" serializeAs="String">
                <value>time.windows.com</value>
            </setting>
            <setting name="OcrSimulatorNativeCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IotaVtiOcrEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSimulation" serializeAs="String">
                <value>False</value>
            </setting>
        </AAVRec.Properties.Settings>
    </userSettings>
</configuration>