<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OccuRec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
  <OccuRec.Properties.Settings>
      <setting name="OutputLocation" serializeAs="String">
          <value />
      </setting>
      <setting name="CameraModel" serializeAs="String">
          <value />
      </setting>
      <setting name="PreferredCaptureDevice" serializeAs="String">
          <value />
      </setting>
      <setting name="FileFormat" serializeAs="String">
          <value>AAV</value>
      </setting>
      <setting name="PreferredCompressorDevice" serializeAs="String">
          <value />
      </setting>
      <setting name="IsIntegrating" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="VerticalFlip" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="HorizontalFlip" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="UsesTunerCrossbar" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="CrossbarInputPin" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CrossbarOutputPin" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="VideoGraphDebugMode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MinSignatureDiff" serializeAs="String">
          <value>0.3</value>
      </setting>
      <setting name="DisplayTimeInUT" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="SimulatorFilePath" serializeAs="String">
          <value />
      </setting>
      <setting name="SimulatorFrameRate" serializeAs="String">
          <value>25</value>
      </setting>
      <setting name="OcrSimulatorTestMode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="FileNameFormat" serializeAs="String">
          <value />
      </setting>
      <setting name="SimulatorRunOCR" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="OcrMaxErrorsPerCameraTestRun" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="OcrCameraAavTestMode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="AavImageLayout" serializeAs="String">
          <value>CompressedRaw</value>
      </setting>
      <setting name="NTPServer1" serializeAs="String">
          <value>ntp2.tpg.com.au</value>
      </setting>
      <setting name="OcrSimulatorNativeCode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="AavOcrEnabled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="FileSimulation" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="PreserveVTIFirstRow" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="PreserveVTILastRow" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="AcceptBetaUpdates" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="LastCheckedForUpdates" serializeAs="String">
          <value>2000-01-01</value>
      </setting>
      <setting name="UsesBufferedFrameProcessing" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="IntegrationDetectionTuning" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SelectedVideoFormat" serializeAs="String">
          <value />
      </setting>
      <setting name="SelectedCrossbarInputPin" serializeAs="String">
          <value />
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
          <value />
      </setting>
      <setting name="SelectedOcrConfiguration" serializeAs="String">
          <value>720x576 PAL</value>
      </setting>
      <setting name="GammaDiff" serializeAs="String">
          <value>0.45</value>
      </setting>
      <setting name="CalibrationIntegrationRate" serializeAs="String">
          <value>4</value>
      </setting>
      <setting name="MinSignatureDiffRatio" serializeAs="String">
          <value>5</value>
      </setting>
      <setting name="WarnForFileSystemIssues" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="ForceIntegrationRatesRestrictions" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="PreserveVTIWidth" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="PreserveVTIHeight" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="ASCOMProgIdTelescope" serializeAs="String">
          <value />
      </setting>
      <setting name="ASCOMProgIdFocuser" serializeAs="String">
          <value />
      </setting>
      <setting name="Saturation8Bit" serializeAs="String">
          <value>250</value>
      </setting>
      <setting name="Saturation12Bit" serializeAs="String">
          <value>4000</value>
      </setting>
      <setting name="Saturation14Bit" serializeAs="String">
          <value>16000</value>
      </setting>
      <setting name="TrackingCheckElongation" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="TrackingMinFWHM" serializeAs="String">
          <value>1.5</value>
      </setting>
      <setting name="TrackingMaxFWHM" serializeAs="String">
          <value>12</value>
      </setting>
      <setting name="TrackingMaxElongation" serializeAs="String">
          <value>150</value>
      </setting>
      <setting name="TrackingMinCertainty" serializeAs="String">
          <value>0.1</value>
      </setting>
      <setting name="FocuserSmallStep" serializeAs="String">
          <value>500</value>
      </setting>
      <setting name="FocuserLargeStep" serializeAs="String">
          <value>5000</value>
      </setting>
      <setting name="FocuserSmallestStep" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="ObservatoryStatusPingRateSeconds" serializeAs="String">
          <value>60</value>
      </setting>
      <setting name="TelPulseDuration" serializeAs="String">
          <value>2000</value>
      </setting>
      <setting name="TelPulseFastRate" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="TelPulseSlowRate" serializeAs="String">
          <value>10</value>
      </setting>
      <setting name="TelPulseSlowestRate" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="ASCOMLoadInSeparateAppDomain" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="TrackingFrequency" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="TrackingMinForcedFixedObjCertainty" serializeAs="String">
          <value>0.4</value>
      </setting>
      <setting name="TrackingMinGuidingCertainty" serializeAs="String">
          <value>0.7</value>
      </setting>
      <setting name="TrackingApertureInFWHM" serializeAs="String">
          <value>1.5</value>
      </setting>
      <setting name="TrackingInnerRadiusOfAnnulus" serializeAs="String">
          <value>2</value>
      </setting>
      <setting name="TrackingMinNumberPixelsInAnnulus" serializeAs="String">
          <value>350</value>
      </setting>
      <setting name="FocuserTemperatureIn" serializeAs="String">
          <value>C</value>
      </setting>
      <setting name="OverlayDrawTargetLightCurve" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="OverlayDrawTargetStarFSP" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="OverlayDrawGuidingStarFSP" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="TrackingMinGuidingStarCertainty" serializeAs="String">
          <value>0.4</value>
      </setting>
      <setting name="NTPTimingHardwareCorrection" serializeAs="String">
          <value>60</value>
      </setting>
      <setting name="WarnOnFreeDiskSpaceLeft" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="WarnOnFAT16Usage" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="WarnMinDiskFreeSpaceGb" serializeAs="String">
          <value>2</value>
      </setting>
      <setting name="CameraControlDriver" serializeAs="String">
          <value />
      </setting>
      <setting name="ASCOMProgIdVideo" serializeAs="String">
          <value />
      </setting>
      <setting name="VideoDriversCommSettings" serializeAs="String">
          <value />
      </setting>
      <setting name="LicenseAgreementAccepted" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="RecordNTPTimeStampInAAV" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="RecordSecondaryTimeStampInAav" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="NTPServer2" serializeAs="String">
          <value>ntp0.cs.mu.OZ.AU</value>
      </setting>
      <setting name="NTPServer3" serializeAs="String">
          <value>ntp.tourism.wa.gov.au</value>
      </setting>
      <setting name="NTPServer4" serializeAs="String">
          <value>ntp1.tpg.com.au</value>
      </setting>
      <setting name="PreserveVTIEnabled" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="StarCatalog" serializeAs="String">
          <value>NotSpecified</value>
      </setting>
      <setting name="StarCatalogLocation" serializeAs="String">
          <value />
      </setting>
      <setting name="StarCatalogMagnitudeBandId" serializeAs="String">
          <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
  </OccuRec.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <switches>
      <add name="AppDomainTracking" value="false" />
      <add name="ASCOMServer" value="Verbose" />
      <add name="ASCOMClient" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>