<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OccuRec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
  <OccuRec.Properties.Settings>
      <setting name="OutputLocation" serializeAs="String">
          <value />
      </setting>
      <setting name="CameraModel" serializeAs="String">
          <value />
      </setting>
      <setting name="PreferredCaptureDevice" serializeAs="String">
          <value />
      </setting>
      <setting name="MonochromePixelsType" serializeAs="String">
          <value>R</value>
      </setting>
      <setting name="FileFormat" serializeAs="String">
          <value>AAV</value>
      </setting>
      <setting name="PreferredCompressorDevice" serializeAs="String">
          <value />
      </setting>
      <setting name="IsIntegrating" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="FlipVertically" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="FlipHorizontally" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="UsesTunerCrossbar" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="CrossbarInputPin" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CrossbarOutputPin" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="VideoGraphDebugMode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MinSignatureDiff" serializeAs="String">
          <value>0.3</value>
      </setting>
      <setting name="DisplayTimeInUT" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="SimulatorFilePath" serializeAs="String">
          <value />
      </setting>
      <setting name="SimulatorFrameRate" serializeAs="String">
          <value>25</value>
      </setting>
      <setting name="OcrSimulatorTestMode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="FileNameFormat" serializeAs="String">
          <value />
      </setting>
      <setting name="SimulatorRunOCR" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="OcrMaxErrorsPerCameraTestRun" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="OcrCameraTestModeAav" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="AavImageLayout" serializeAs="String">
          <value>CompressedRaw</value>
      </setting>
      <setting name="NTPServer" serializeAs="String">
          <value>time.windows.com</value>
      </setting>
      <setting name="OcrSimulatorNativeCode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="AavOcrEnabled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="FileSimulation" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="PreserveTSLineTop" serializeAs="String">
          <value>542</value>
      </setting>
      <setting name="PreserveTSAreaHeight" serializeAs="String">
          <value>32</value>
      </setting>
      <setting name="AcceptBetaUpdates" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="LastCheckedForUpdates" serializeAs="String">
          <value>2000-01-01</value>
      </setting>
      <setting name="UsesBufferedFrameProcessing" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="IntegrationDetectionTuning" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SelectedVideoFormat" serializeAs="String">
          <value />
      </setting>
      <setting name="SelectedCrossbarInputPin" serializeAs="String">
          <value />
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
          <value />
      </setting>
      <setting name="SelectedOcrConfiguration" serializeAs="String">
          <value>720x576 PAL</value>
      </setting>
      <setting name="GammaDiff" serializeAs="String">
          <value>0.45</value>
      </setting>
      <setting name="CalibrationIntegrationRate" serializeAs="String">
          <value>4</value>
      </setting>
      <setting name="MinSignatureDiffRatio" serializeAs="String">
          <value>5</value>
      </setting>
  </OccuRec.Properties.Settings>
    </userSettings>
</configuration>